@model MVCDHProject.Models.Customer

@{
    ViewData["Title"] = "DisplayCustomer";
}

<h1 style="text-align:center;background-color:yellowgreen;color:red">Customer Details</h1>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        @if (!string.IsNullOrEmpty(Model.photo))
        {
            <img src="@Model.photo" alt="Customer Photo" class="img-thumbnail mb-3" style="max-height: 300px;" />
        }
        else
        {
            <div class="bg-light p-5 text-center mb-3">
                <i class="fas fa-user-circle fa-5x text-secondary"></i>
                <p class="mt-2">No photo available</p>
            </div>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditCustomer", new { Custid = Model.Custid }) |
    <a asp-action="DisplayCustomers">Back to List</a>
</div>
